*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "poppins" , sans-serif;
}
html{
    font-size: 75%;
    overflow-x: hidden;
}
body{
    font-family: "poppins" , sans-serif;
    background: #ddd;
}
html::-webkit-scrollbar{
    width: 0.8rem;
}
 /* navbar */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 5%;
 background: rgba(0, 0, 0, 0.7);
 filter: drop-shadow(10px);
 display: flex;
 justify-content: space-between;
 align-items: center;
 z-index: 100;
}
.header span{
    color: white;
}
.logo{
    font-size: 2rem;
    color: black;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}
#menu-icon{
    font-size: 3.6rem;
    color: black;
    /* display: none; */
}
.navbar a{
    font-size: 1.8rem;
    color: black;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
.navbar a select{
    font-size: 1.8rem;
    color: black;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a.active{
color: white;
border-bottom: 3px solid white;
/* display: none; */
}

.navbar a.non-active{
color: white;
border-bottom: none;
}
.non-active select{
    padding: 0rem 0.8rem;
}
.non-active select option{
   background: rgba(0, 0, 0, 0.7);
   color: white;
}
.non-active select option:hover{
 color: white;
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

/* section home */


/* section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
} */
#cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
    position: absolute;
    top: 100px;
  }  
.box{
    height: 500px;
width: 400px;
border: 1px solid black;
margin: 10px;
text-align: center;
}
.box{
    background: white;
    color: black;
}
.box #product{
    height: 250px;
    width: 100%;
    box-sizing: border-box;
}
.box #title{
    padding-top: 20px;
}
.box #product{
    background: #000;
    color: white;
    padding: 10px;
}
.box #category{
    background: white;
    color: black;
    padding-top: 10px;
    font-size: 15px;
}
.box p{
    padding-top: 10px;
    font-size: 14px
}
.box #cart{
      margin-top: 20px;
      /* background: white; */
      background: black;
      text-align: center;
      align-items: center;
      padding: 5px 10px;
      text-decoration: none;
      color: #fff;
      font-size: 22px;
      letter-spacing: 1.5px;
      border-radius: 6px;
}
.box #cart:hover{
    background: white;
    color: black;
    font-weight: 800;
    border: 2px solid black;
    cursor: pointer;
}

@media only screen and (max-width: 360px) {
    .header {
        padding: 2rem 5%;
    }

    .logo {
        font-size: 2.5rem;
    }

    .navbar a {
        margin-left: 1rem;
        font-size: 1.4rem;
    }
}
@media only screen and (max-width: 420px) {
    .header {
        padding: 2rem 5%;
    }

    .logo {
        font-size: 2.5rem;
    }

    .navbar a {
        margin-left: 1rem;
        font-size: 1.4rem;
    }
}
@media only screen and (max-width: 480px) {
    .header {
        padding: 2rem 5%;
    }

    .logo {
        font-size: 2.5rem;
    }

    .navbar a {
        margin-left: 1rem;
        font-size: 1.4rem;
    }
}
@media screen and (max-width: 1052px) {
    .header {
        padding: 3rem 5%;
    }

    .navbar a {
        margin-left: 2rem;
    }
}


/* footer start */
.footer{
    position: absolute;
    top: 5310px;
    padding-top: 40px;
    /* background-color: rgb(61, 115, 250); */
    background: rgba(0, 0, 0, 0.7);
    /* border-top: 3px solid #AAB8C2; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* margin-top: 8%; */
    height: 243px;
    width: 100%;
}
.aboutus h2{
    color: white;
    font-size: 40px;
    margin-bottom: 4%;
    /* padding-top: 2rem; */
}
.aboutus .city{
    color: white;
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 8%;
}
.aboutus:hover{
    color: black;
}
.followus h2{
    color: white;
    font-size: 40px;
    margin-bottom: 7%;
}
.followus a{
    color: white;
    font-size: 30px;
    margin-left: 10%;
    transition: all 0.5s;
}
.followus #li:hover{
    color:rgb(54, 54, 227);
    /* text-shadow: 0px 0px 5px rgb(1, 225, 255); */
    transition: all 0.5s;
}
.followus #git:hover{
    color: black;
    /* text-shadow: 0px 0px 5px rgb(128, 255, 54); */
    transition: all 0.5s;
}
.followus #insta:hover{
    color: purple;
    /* text-shadow: 0px 0px 5px rgb(1, 225, 255); */
    transition: all 0.5s;
}
.contactus h2{
    color: white;
    font-size: 40px;
}
.contactus h3{
    text-align: center;
    color: white;
    font-size: 22px;
    margin-top: 8%;
    margin-right: 3rem;
}
.contactus h4{
    text-align: center;
    color: white;
    font-size: 18px;
    /* margin-top: 8%; */
}
#copyright{
    color: white;
    font-size: 15px;
}
/* footer */


/* media query */

@media (max-width:435px) {
    /* .footer{
        flex-direction: column;
        text-align: center;
        row-gap: 18px;
    } */
    .aboutus p{
        font-size: 10px;
    }
    .followus h2{
        font-size: 30px;
    }
    .followus a{
        font-size: 23px;
        margin-left: 4%;
    }
    .aboutus h2{
        font-size: 30px;
    }
    .contactus h2{
        font-size: 30px;
    }
    #copyright{
        font-size: 10px;
    }
}

@media (max-width:1270px){
    .footer{
        position: absolute;
        top: 7910px;
    }
}
@media (max-width:849px){
    .footer{
        position: absolute;
        top: 15710px;
    }
}
@media (max-width:750px){
    /* .footer{
        height: 250px;
    } */
    .footer h2 {
       font-size: 18px;
    }
    .footer .city{
        font-size: 18px;
     }
     .footer #copyright{
        font-size: 12px;
     }
     .followus a{
        /* margin-bottom: 4%; */
        display: flex;
        padding-top: 12px;
     }
     /* .followus #li {
        font-size: 22px;
        padding-top: 30px;
     }
     .followus #git {
        font-size: 22px;
        padding-top: 30px;
     }
     .followus #insta{
        font-size: 22px;
        margin-top: 30px;
     } */

     .contactus h3{
        font-size: 18px;
        margin-right: 7rem;
     }
     .contactus h4{
        font-size: 18px;
        margin-right: 1.5rem;
     }
}

@media (max-width:650px){
    .aboutus{
        /* flex-direction: column; */
        text-align: center;
        row-gap: 18px;
        margin-top: 1rem;
    }
    .aboutus h4{
        margin-bottom: 1rem;
    }
    .contactus{
        /* flex-direction: column; */
        text-align: center;
        row-gap: 18px;
    }
    .contactus h3{
        margin-left: 7rem;
        margin-top: 1.2rem;
    }
.followus{
    display: none;
}
}





/* About Page */


.section{
    width: 100%;
    height: 100vh;
    background: #ddd;
}
.container{
width: 80%;
display: block;
margin: auto;
padding-top: 100px;
}
.content-section{
    float: right;
    width: 40%;
}
.image-section{
    float: left;
    width: 55%;
}
.image-section img{
    width: 90%;
    height: auto;
}
.content-section .title{
    text-transform: uppercase;
    font-size: 28px
}
.content-section .content h3{
    margin-top: 20px;
    font-size: 24px;
    color: #5d5d5d;
}
.content-section .content p{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 17px;
    line-height: 1.5;
}
.content-section .content .button{
margin-top: 30px;
}
.content-section .content .button a{
 background: #3d3d3d;
 padding: 12px 40px;
 text-decoration: none;
 color: #fff;
 font-size: 25px;
 letter-spacing: 1.5px;

}
.content-section .content .button a:hover{
    background: #a52a2a;
    color: #fff;
}
.content-section .social{
    margin-top: 40px;
    margin-bottom: 30px;
}
.content-section .social i{
    color: #a52a2a;
    font-size: 30px;
    padding: 0px 10px;
}
.content-section .social i:hover{
    color: #3d3d3d;
}

@media screen and (max-width: 768px) {
    .container{
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
        }
        .content-section{
            float: none;
            display: block;
            margin: auto;
            width: 100%;
        }
        .image-section{
            float: none;
            width: 100%;
           
        }
        .image-section img{
            margin: auto;
            width: 100%;
            height: auto;
            display: block;
        }
        .content-section .title{
            text-align: center;
            font-size: 19px;
        }
        .content-section .content .button{
            text-align: center;
        }
        .content-section .content .button a{
             padding: 9px 30px;
        }
        .content-section .social{
            text-align: center;
        }
}